In [33]:
import pandas as pd
import numpy as np

In [34]:
df= pd.read_csv("F:/ML/Zenrays/AI_ML_Feb25_Kormangla/hands on/exercise_cleanData/logic_1.csv")
df

          Case ID    First Name   Last Name Account Type
0         Case1-1          Jack      Dorsey      Federal
1         Case2-1          Dave      Cooper        State
2         Case3-1         Mudit     AGRAWAL   Commercial
3         Case1-2         Larry      Begley      Federal
4         Case2-2           Jim    Schraith        State
5         Case3-2           Tig      Krekel   Commercial
6         Case1-3         Maria      Cirino      Federal
7         Case2-3         Blair      Garrou        State
8         Case3-3       Stephen      Brooks   Commercial
9         Case1-4          Liam     Donohue      Federal
10        Case2-4           Ned        Hill        State
11        Case3-4        Victor      Caruso   Commercial
12        Case1-5          Greg      Dracon      Federal
13        Case2-5           Dan     Watkins        State
14        Case3-5  C. Alexander      Harman   Commercial
15        Case1-6          Kara     Sweeney      Federal
16        Case2-6       Winston      Gilpin        State
17        Case3-6         Louis       Mintz   Commercial
18        Case1-7        Robert     Collins      Federal
19        Case2-7          Paul    Campbell        State
20        Case3-7          Lisa    Steffens   Commercial
21        Case1-8    Alessandro    Benetton      Federal
22        Case2-8         Chris      McCord        State
23        Case3-8     Stephanie          Ng   Commercial
24        Case1-9          Dino      Furlan      Federal
25        Case2-9       Jessica     Wienort        State
26        Case3-9        H. Lee      French   Commercial
27       Case1-10         Marco       Monis      Federal
28       Case2-10        Sidney      Chameh        State
29       Case3-10       Michael    Friedman   Commercial
...           ...           ...         ...          ...
18261  Case3-6098      Emmanuel  Fiessinger   Commercial
18262  Case3-6099        Arnaud      Filhol   Commercial
18263  Case3-6100       Valerie     Gombart   Commercial
18264  Case3-6101      Frederic     Le Brun   Commercial
18265  Case3-6102        Didier     Piccino   Commercial
18266  Case3-6103         Bruno       Rivet   Commercial
18267  Case3-6104  Michel Alain     Mollard   Commercial
18268  Case3-6105        Sylvie    Padrazzi   Commercial
18269  Case3-6106        Jerome      Samson   Commercial
18270  Case3-6107           Jon     Bayless   Commercial
18271  Case3-6108          John     Jaggers   Commercial
18272  Case3-6109        Jackie      Kimzey   Commercial
18273  Case3-6110          Dave      McLean   Commercial
18274  Case3-6111           Dan       Meyer   Commercial
18275  Case3-6112       Charles      Phipps   Commercial
18276  Case3-6113           Ram      Velidi   Commercial
18277  Case3-6114          Rose      Parker   Commercial
18278  Case3-6115         Brian    Berliner   Commercial
18279  Case3-6116            Al     Schuele   Commercial
18280  Case3-6117         Janet      Foster   Commercial
18281  Case3-6118       Stephen     Domenik   Commercial
18282  Case3-6119       Stephen         Dow   Commercial
18283  Case3-6120          John       Oxaal   Commercial
18284  Case3-6121          Nick    Sturiale   Commercial
18285  Case3-6122        George     Schneer   Commercial
18286  Case3-6123         Roger     Freeman   Commercial
18287  Case3-6124        Thomas      Salice   Commercial
18288  Case3-6125         Terry       Smith   Commercial
18289  Case3-6126         David        Webb   Commercial
18290       Case8          Uday           T   Individual

[18291 rows x 4 columns]

In [35]:
#print the rows with null values
df[df.isnull().any(axis=1)]

          Case ID First Name Last Name Account Type
209      Case3-70        NaN       NaN   Commercial
413     Case3-138        NaN       NaN   Commercial
1062    Case1-355        NaN       NaN      Federal
1270    Case2-424        NaN       NaN        State
1742    Case3-581        NaN       NaN   Commercial
1828    Case2-610        NaN      Bono        State
2737    Case2-913        NaN       NaN        State
3187   Case2-1063        NaN       NaN        State
4939   Case2-1647        NaN       NaN        State
5191   Case2-1731        NaN       NaN        State
5292   Case1-1765        NaN       NaN      Federal
5700   Case1-1901        NaN       NaN      Federal
6067   Case2-2023        NaN       NaN        State
6088   Case2-2030        NaN       NaN        State
6890   Case3-2297        NaN       NaN   Commercial
6902   Case3-2301        NaN       NaN   Commercial
7436   Case3-2479        NaN       NaN   Commercial
7496   Case3-2499        NaN       NaN   Commercial
7952   Case3-2651        NaN       NaN   Commercial
8043   Case1-2682        NaN    Granka      Federal
8259   Case1-2754        NaN       NaN      Federal
8363   Case3-2788        NaN       NaN   Commercial
8732   Case3-2911        NaN       NaN   Commercial
9100   Case2-3034        NaN       NaN        State
9903   Case1-3302        NaN       NaN      Federal
9966   Case1-3323        NaN       NaN      Federal
10247  Case3-3416        NaN       NaN   Commercial
10250  Case3-3417        NaN       NaN   Commercial
10512  Case1-3505        NaN       NaN      Federal
12572  Case3-4191        NaN       NaN   Commercial
13109  Case3-4370        NaN       NaN   Commercial
13302  Case1-4435        NaN       NaN      Federal
14050  Case2-4684        NaN       NaN        State
14424  Case1-4809        NaN       NaN      Federal
14580  Case1-4861        NaN       NaN      Federal
14730  Case1-4911        NaN       NaN      Federal
15055  Case2-5019        NaN       NaN        State
15368  Case3-5123        NaN       NaN   Commercial
16143  Case1-5382        NaN       NaN      Federal
16845  Case1-5616        NaN       NaN      Federal
17784  Case1-5929        NaN       NaN      Federal
17885  Case3-5962        NaN       NaN   Commercial
18046  Case2-6016        NaN       NaN        State
18138  Case1-6047        NaN       NaN      Federal
18183         NaN        NaN       NaN          NaN
18186         NaN        NaN       NaN          NaN
18189         NaN        NaN       NaN          NaN
18192         NaN        NaN       NaN          NaN
18195         NaN        NaN       NaN          NaN
18198         NaN        NaN       NaN          NaN
18201         NaN        NaN       NaN          NaN
18204         NaN        NaN       NaN          NaN
18207         NaN        NaN       NaN          NaN

In [36]:
df2=df

In [37]:
i = 1
for row in df2.index.tolist():
    if pd.isna(df2.loc[row,"Case ID"]) == False and pd.isna(df2.loc[row,"First Name"]) == True:
        df2.loc[row,"First Name"] = "Unknown %s" % i
        i += 1
        print (df2.loc[row])

Case ID           Case3-70
First Name       Unknown 1
Last Name              NaN
Account Type    Commercial
Name: 209, dtype: object
Case ID          Case3-138
First Name       Unknown 2
Last Name              NaN
Account Type    Commercial
Name: 413, dtype: object
Case ID         Case1-355
First Name      Unknown 3
Last Name             NaN
Account Type      Federal
Name: 1062, dtype: object
Case ID         Case2-424
First Name      Unknown 4
Last Name             NaN
Account Type        State
Name: 1270, dtype: object
Case ID          Case3-581
First Name       Unknown 5
Last Name              NaN
Account Type    Commercial
Name: 1742, dtype: object
Case ID         Case2-610
First Name      Unknown 6
Last Name            Bono
Account Type        State
Name: 1828, dtype: object
Case ID         Case2-913
First Name      Unknown 7
Last Name             NaN
Account Type        State
Name: 2737, dtype: object
Case ID         Case2-1063
First Name       Unknown 8
Last Name              NaN
Account Type         State
Name: 3187, dtype: object
Case ID         Case2-1647
First Name       Unknown 9
Last Name              NaN
Account Type         State
Name: 4939, dtype: object
Case ID         Case2-1731
First Name      Unknown 10
Last Name              NaN
Account Type         State
Name: 5191, dtype: object
Case ID         Case1-1765
First Name      Unknown 11
Last Name              NaN
Account Type       Federal
Name: 5292, dtype: object
Case ID         Case1-1901
First Name      Unknown 12
Last Name              NaN
Account Type       Federal
Name: 5700, dtype: object
Case ID         Case2-2023
First Name      Unknown 13
Last Name              NaN
Account Type         State
Name: 6067, dtype: object
Case ID         Case2-2030
First Name      Unknown 14
Last Name              NaN
Account Type         State
Name: 6088, dtype: object
Case ID         Case3-2297
First Name      Unknown 15
Last Name              NaN
Account Type    Commercial
Name: 6890, dtype: object
Case ID         Case3-2301
First Name      Unknown 16
Last Name              NaN
Account Type    Commercial
Name: 6902, dtype: object
Case ID         Case3-2479
First Name      Unknown 17
Last Name              NaN
Account Type    Commercial
Name: 7436, dtype: object
Case ID         Case3-2499
First Name      Unknown 18
Last Name              NaN
Account Type    Commercial
Name: 7496, dtype: object
Case ID         Case3-2651
First Name      Unknown 19
Last Name              NaN
Account Type    Commercial
Name: 7952, dtype: object
Case ID         Case1-2682
First Name      Unknown 20
Last Name           Granka
Account Type       Federal
Name: 8043, dtype: object
Case ID         Case1-2754
First Name      Unknown 21
Last Name              NaN
Account Type       Federal
Name: 8259, dtype: object
Case ID         Case3-2788
First Name      Unknown 22
Last Name              NaN
Account Type    Commercial
Name: 8363, dtype: object
Case ID         Case3-2911
First Name      Unknown 23
Last Name              NaN
Account Type    Commercial
Name: 8732, dtype: object
Case ID         Case2-3034
First Name      Unknown 24
Last Name              NaN
Account Type         State
Name: 9100, dtype: object
Case ID         Case1-3302
First Name      Unknown 25
Last Name              NaN
Account Type       Federal
Name: 9903, dtype: object
Case ID         Case1-3323
First Name      Unknown 26
Last Name              NaN
Account Type       Federal
Name: 9966, dtype: object
Case ID         Case3-3416
First Name      Unknown 27
Last Name              NaN
Account Type    Commercial
Name: 10247, dtype: object
Case ID         Case3-3417
First Name      Unknown 28
Last Name              NaN
Account Type    Commercial
Name: 10250, dtype: object
Case ID         Case1-3505
First Name      Unknown 29
Last Name              NaN
Account Type       Federal
Name: 10512, dtype: object
Case ID         Case3-4191
First Name      Unknown 30
Last Name              NaN
Account Type    Commercial
Name: 12572, dtype: object
Case ID         Case3-4370
First Name      Unknown 31
Last Name              NaN
Account Type    Commercial
Name: 13109, dtype: object
Case ID         Case1-4435
First Name      Unknown 32
Last Name              NaN
Account Type       Federal
Name: 13302, dtype: object
Case ID         Case2-4684
First Name      Unknown 33
Last Name              NaN
Account Type         State
Name: 14050, dtype: object
Case ID         Case1-4809
First Name      Unknown 34
Last Name              NaN
Account Type       Federal
Name: 14424, dtype: object
Case ID         Case1-4861
First Name      Unknown 35
Last Name              NaN
Account Type       Federal
Name: 14580, dtype: object
Case ID         Case1-4911
First Name      Unknown 36
Last Name              NaN
Account Type       Federal
Name: 14730, dtype: object
Case ID         Case2-5019
First Name      Unknown 37
Last Name              NaN
Account Type         State
Name: 15055, dtype: object
Case ID         Case3-5123
First Name      Unknown 38
Last Name              NaN
Account Type    Commercial
Name: 15368, dtype: object
Case ID         Case1-5382
First Name      Unknown 39
Last Name              NaN
Account Type       Federal
Name: 16143, dtype: object
Case ID         Case1-5616
First Name      Unknown 40
Last Name              NaN
Account Type       Federal
Name: 16845, dtype: object
Case ID         Case1-5929
First Name      Unknown 41
Last Name              NaN
Account Type       Federal
Name: 17784, dtype: object
Case ID         Case3-5962
First Name      Unknown 42
Last Name              NaN
Account Type    Commercial
Name: 17885, dtype: object
Case ID         Case2-6016
First Name      Unknown 43
Last Name              NaN
Account Type         State
Name: 18046, dtype: object
Case ID         Case1-6047
First Name      Unknown 44
Last Name              NaN
Account Type       Federal
Name: 18138, dtype: object

In [38]:
for row in df2.index.tolist():
    if pd.isna(df2.loc[row,"Case ID"]) == False and pd.isna(df2.loc[row,"Last Name"]) == True:
            df2.loc[row,"Last Name"] = "Unknown %s" % i
            print (df2.loc[row])

Case ID           Case3-70
First Name       Unknown 1
Last Name       Unknown 45
Account Type    Commercial
Name: 209, dtype: object
Case ID          Case3-138
First Name       Unknown 2
Last Name       Unknown 45
Account Type    Commercial
Name: 413, dtype: object
Case ID          Case1-355
First Name       Unknown 3
Last Name       Unknown 45
Account Type       Federal
Name: 1062, dtype: object
Case ID          Case2-424
First Name       Unknown 4
Last Name       Unknown 45
Account Type         State
Name: 1270, dtype: object
Case ID          Case3-581
First Name       Unknown 5
Last Name       Unknown 45
Account Type    Commercial
Name: 1742, dtype: object
Case ID          Case2-913
First Name       Unknown 7
Last Name       Unknown 45
Account Type         State
Name: 2737, dtype: object
Case ID         Case2-1063
First Name       Unknown 8
Last Name       Unknown 45
Account Type         State
Name: 3187, dtype: object
Case ID         Case2-1647
First Name       Unknown 9
Last Name       Unknown 45
Account Type         State
Name: 4939, dtype: object
Case ID         Case2-1731
First Name      Unknown 10
Last Name       Unknown 45
Account Type         State
Name: 5191, dtype: object
Case ID         Case1-1765
First Name      Unknown 11
Last Name       Unknown 45
Account Type       Federal
Name: 5292, dtype: object
Case ID         Case1-1901
First Name      Unknown 12
Last Name       Unknown 45
Account Type       Federal
Name: 5700, dtype: object
Case ID         Case2-2023
First Name      Unknown 13
Last Name       Unknown 45
Account Type         State
Name: 6067, dtype: object
Case ID         Case2-2030
First Name      Unknown 14
Last Name       Unknown 45
Account Type         State
Name: 6088, dtype: object
Case ID         Case3-2297
First Name      Unknown 15
Last Name       Unknown 45
Account Type    Commercial
Name: 6890, dtype: object
Case ID         Case3-2301
First Name      Unknown 16
Last Name       Unknown 45
Account Type    Commercial
Name: 6902, dtype: object
Case ID         Case3-2479
First Name      Unknown 17
Last Name       Unknown 45
Account Type    Commercial
Name: 7436, dtype: object
Case ID         Case3-2499
First Name      Unknown 18
Last Name       Unknown 45
Account Type    Commercial
Name: 7496, dtype: object
Case ID         Case3-2651
First Name      Unknown 19
Last Name       Unknown 45
Account Type    Commercial
Name: 7952, dtype: object
Case ID         Case1-2754
First Name      Unknown 21
Last Name       Unknown 45
Account Type       Federal
Name: 8259, dtype: object
Case ID         Case3-2788
First Name      Unknown 22
Last Name       Unknown 45
Account Type    Commercial
Name: 8363, dtype: object
Case ID         Case3-2911
First Name      Unknown 23
Last Name       Unknown 45
Account Type    Commercial
Name: 8732, dtype: object
Case ID         Case2-3034
First Name      Unknown 24
Last Name       Unknown 45
Account Type         State
Name: 9100, dtype: object
Case ID         Case1-3302
First Name      Unknown 25
Last Name       Unknown 45
Account Type       Federal
Name: 9903, dtype: object
Case ID         Case1-3323
First Name      Unknown 26
Last Name       Unknown 45
Account Type       Federal
Name: 9966, dtype: object
Case ID         Case3-3416
First Name      Unknown 27
Last Name       Unknown 45
Account Type    Commercial
Name: 10247, dtype: object
Case ID         Case3-3417
First Name      Unknown 28
Last Name       Unknown 45
Account Type    Commercial
Name: 10250, dtype: object
Case ID         Case1-3505
First Name      Unknown 29
Last Name       Unknown 45
Account Type       Federal
Name: 10512, dtype: object
Case ID         Case3-4191
First Name      Unknown 30
Last Name       Unknown 45
Account Type    Commercial
Name: 12572, dtype: object
Case ID         Case3-4370
First Name      Unknown 31
Last Name       Unknown 45
Account Type    Commercial
Name: 13109, dtype: object
Case ID         Case1-4435
First Name      Unknown 32
Last Name       Unknown 45
Account Type       Federal
Name: 13302, dtype: object
Case ID         Case2-4684
First Name      Unknown 33
Last Name       Unknown 45
Account Type         State
Name: 14050, dtype: object
Case ID         Case1-4809
First Name      Unknown 34
Last Name       Unknown 45
Account Type       Federal
Name: 14424, dtype: object
Case ID         Case1-4861
First Name      Unknown 35
Last Name       Unknown 45
Account Type       Federal
Name: 14580, dtype: object
Case ID         Case1-4911
First Name      Unknown 36
Last Name       Unknown 45
Account Type       Federal
Name: 14730, dtype: object
Case ID         Case2-5019
First Name      Unknown 37
Last Name       Unknown 45
Account Type         State
Name: 15055, dtype: object
Case ID         Case3-5123
First Name      Unknown 38
Last Name       Unknown 45
Account Type    Commercial
Name: 15368, dtype: object
Case ID         Case1-5382
First Name      Unknown 39
Last Name       Unknown 45
Account Type       Federal
Name: 16143, dtype: object
Case ID         Case1-5616
First Name      Unknown 40
Last Name       Unknown 45
Account Type       Federal
Name: 16845, dtype: object
Case ID         Case1-5929
First Name      Unknown 41
Last Name       Unknown 45
Account Type       Federal
Name: 17784, dtype: object
Case ID         Case3-5962
First Name      Unknown 42
Last Name       Unknown 45
Account Type    Commercial
Name: 17885, dtype: object
Case ID         Case2-6016
First Name      Unknown 43
Last Name       Unknown 45
Account Type         State
Name: 18046, dtype: object
Case ID         Case1-6047
First Name      Unknown 44
Last Name       Unknown 45
Account Type       Federal
Name: 18138, dtype: object

In [39]:
df[df.isnull().any(axis=1)]

      Case ID First Name Last Name Account Type
18183     NaN        NaN       NaN          NaN
18186     NaN        NaN       NaN          NaN
18189     NaN        NaN       NaN          NaN
18192     NaN        NaN       NaN          NaN
18195     NaN        NaN       NaN          NaN
18198     NaN        NaN       NaN          NaN
18201     NaN        NaN       NaN          NaN
18204     NaN        NaN       NaN          NaN
18207     NaN        NaN       NaN          NaN

In [40]:
#drop rows with na
df2 = df2.dropna(axis=0,how="any")
df2[df2.isnull().any(axis=1)]

Empty DataFrame
Columns: [Case ID, First Name, Last Name, Account Type]
Index: []

In [42]:
df2['joined'] = df2.astype(str).values.sum(axis=1)
df2

F:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,Case ID,First Name,Last Name,Account Type,joined
0,Case1-1,Jack,Dorsey,Federal,Case1-1JackDorseyFederal
1,Case2-1,Dave,Cooper,State,Case2-1DaveCooperState
2,Case3-1,Mudit,AGRAWAL,Commercial,Case3-1MuditAGRAWALCommercial
3,Case1-2,Larry,Begley,Federal,Case1-2LarryBegleyFederal
4,Case2-2,Jim,Schraith,State,Case2-2JimSchraithState
5,Case3-2,Tig,Krekel,Commercial,Case3-2TigKrekelCommercial
6,Case1-3,Maria,Cirino,Federal,Case1-3MariaCirinoFederal
7,Case2-3,Blair,Garrou,State,Case2-3BlairGarrouState
8,Case3-3,Stephen,Brooks,Commercial,Case3-3StephenBrooksCommercial
9,Case1-4,Liam,Donohue,Federal,Case1-4LiamDonohueFederal
10,Case2-4,Ned,Hill,State,Case2-4NedHillState
11,Case3-4,Victor,Caruso,Commercial,Case3-4VictorCarusoCommercial
12,Case1-5,Greg,Dracon,Federal,Case1-5GregDraconFederal
13,Case2-5,Dan,Watkins,State,Case2-5DanWatkinsState
14,Case3-5,C. Alexander,Harman,Commercial,Case3-5C. AlexanderHarmanCommercial
15,Case1-6,Kara,Sweeney,Federal,Case1-6KaraSweeneyFederal
16,Case2-6,Winston,Gilpin,State,Case2-6WinstonGilpinState
17,Case3-6,Louis,Mintz,Commercial,Case3-6LouisMintzCommercial
18,Case1-7,Robert,Collins,Federal,Case1-7RobertCollinsFederal
19,Case2-7,Paul,Campbell,State,Case2-7PaulCampbellState
20,Case3-7,Lisa,Steffens,Commercial,Case3-7LisaSteffensCommercial
21,Case1-8,Alessandro,Benetton,Federal,Case1-8AlessandroBenettonFederal
22,Case2-8,Chris,McCord,State,Case2-8ChrisMcCordState
23,Case3-8,Stephanie,Ng,Commercial,Case3-8StephanieNgCommercial
24,Case1-9,Dino,Furlan,Federal,Case1-9DinoFurlanFederal
25,Case2-9,Jessica,Wienort,State,Case2-9JessicaWienortState
26,Case3-9,H. Lee,French,Commercial,Case3-9H. LeeFrenchCommercial
27,Case1-10,Marco,Monis,Federal,Case1-10MarcoMonisFederal
28,Case2-10,Sidney,Chameh,State,Case2-10SidneyChamehState
29,Case3-10,Michael,Friedman,Commercial,Case3-10MichaelFriedmanCommercial
...,...,...,...,...,...
18261,Case3-6098,Emmanuel,Fiessinger,Commercial,Case3-6098EmmanuelFiessingerCommercial
18262,Case3-6099,Arnaud,Filhol,Commercial,Case3-6099ArnaudFilholCommercial
18263,Case3-6100,Valerie,Gombart,Commercial,Case3-6100ValerieGombartCommercial
18264,Case3-6101,Frederic,Le Brun,Commercial,Case3-6101FredericLe BrunCommercial
18265,Case3-6102,Didier,Piccino,Commercial,Case3-6102DidierPiccinoCommercial
18266,Case3-6103,Bruno,Rivet,Commercial,Case3-6103BrunoRivetCommercial
18267,Case3-6104,Michel Alain,Mollard,Commercial,Case3-6104Michel AlainMollardCommercial
18268,Case3-6105,Sylvie,Padrazzi,Commercial,Case3-6105SylviePadrazziCommercial
18269,Case3-6106,Jerome,Samson,Commercial,Case3-6106JeromeSamsonCommercial
18270,Case3-6107,Jon,Bayless,Commercial,Case3-6107JonBaylessCommercial
18271,Case3-6108,John,Jaggers,Commercial,Case3-6108JohnJaggersCommercial
18272,Case3-6109,Jackie,Kimzey,Commercial,Case3-6109JackieKimzeyCommercial
18273,Case3-6110,Dave,McLean,Commercial,Case3-6110DaveMcLeanCommercial
18274,Case3-6111,Dan,Meyer,Commercial,Case3-6111DanMeyerCommercial
18275,Case3-6112,Charles,Phipps,Commercial,Case3-6112CharlesPhippsCommercial
18276,Case3-6113,Ram,Velidi,Commercial,Case3-6113RamVelidiCommercial
18277,Case3-6114,Rose,Parker,Commercial,Case3-6114RoseParkerCommercial
18278,Case3-6115,Brian,Berliner,Commercial,Case3-6115BrianBerlinerCommercial
18279,Case3-6116,Al,Schuele,Commercial,Case3-6116AlSchueleCommercial
18280,Case3-6117,Janet,Foster,Commercial,Case3-6117JanetFosterCommercial
18281,Case3-6118,Stephen,Domenik,Commercial,Case3-6118StephenDomenikCommercial
18282,Case3-6119,Stephen,Dow,Commercial,Case3-6119StephenDowCommercial
18283,Case3-6120,John,Oxaal,Commercial,Case3-6120JohnOxaalCommercial
18284,Case3-6121,Nick,Sturiale,Commercial,Case3-6121NickSturialeCommercial
18285,Case3-6122,George,Schneer,Commercial,Case3-6122GeorgeSchneerCommercial
18286,Case3-6123,Roger,Freeman,Commercial,Case3-6123RogerFreemanCommercial
18287,Case3-6124,Thomas,Salice,Commercial,Case3-6124ThomasSaliceCommercial
18288,Case3-6125,Terry,Smith,Commercial,Case3-6125TerrySmithCommercial
18289,Case3-6126,David,Webb,Commercial,Case3-6126DavidWebbCommercial
18290,Case8,Uday,T,Individual,Case8UdayTIndividual

In [54]:
df2['is_duplicated'] = df2.duplicated(['joined'])
df2

Empty DataFrame
Columns: [Case ID, First Name, Last Name, Account Type, joined, is_duplicated]
Index: []

In [49]:
df2 = df2[df2['joined'].duplicated(keep=False)]

a = df2.groupby('joined').apply(lambda x: list(x.index))
print (a)

Empty DataFrame
Columns: []
Index: []

In [65]:
#splitting the case ids
df2['Case'], df2['Id'] = df2['Case ID'].str.split('-', 1).str
df2

F:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

          Case ID    First Name   Last Name Account Type   Case    Id
0         Case1-1          Jack      Dorsey      Federal  Case1     1
1         Case2-1          Dave      Cooper        State  Case2     1
2         Case3-1         Mudit     AGRAWAL   Commercial  Case3     1
3         Case1-2         Larry      Begley      Federal  Case1     2
4         Case2-2           Jim    Schraith        State  Case2     2
5         Case3-2           Tig      Krekel   Commercial  Case3     2
6         Case1-3         Maria      Cirino      Federal  Case1     3
7         Case2-3         Blair      Garrou        State  Case2     3
8         Case3-3       Stephen      Brooks   Commercial  Case3     3
9         Case1-4          Liam     Donohue      Federal  Case1     4
10        Case2-4           Ned        Hill        State  Case2     4
11        Case3-4        Victor      Caruso   Commercial  Case3     4
12        Case1-5          Greg      Dracon      Federal  Case1     5
13        Case2-5           Dan     Watkins        State  Case2     5
14        Case3-5  C. Alexander      Harman   Commercial  Case3     5
15        Case1-6          Kara     Sweeney      Federal  Case1     6
16        Case2-6       Winston      Gilpin        State  Case2     6
17        Case3-6         Louis       Mintz   Commercial  Case3     6
18        Case1-7        Robert     Collins      Federal  Case1     7
19        Case2-7          Paul    Campbell        State  Case2     7
20        Case3-7          Lisa    Steffens   Commercial  Case3     7
21        Case1-8    Alessandro    Benetton      Federal  Case1     8
22        Case2-8         Chris      McCord        State  Case2     8
23        Case3-8     Stephanie          Ng   Commercial  Case3     8
24        Case1-9          Dino      Furlan      Federal  Case1     9
25        Case2-9       Jessica     Wienort        State  Case2     9
26        Case3-9        H. Lee      French   Commercial  Case3     9
27       Case1-10         Marco       Monis      Federal  Case1    10
28       Case2-10        Sidney      Chameh        State  Case2    10
29       Case3-10       Michael    Friedman   Commercial  Case3    10
...           ...           ...         ...          ...    ...   ...
18261  Case3-6098      Emmanuel  Fiessinger   Commercial  Case3  6098
18262  Case3-6099        Arnaud      Filhol   Commercial  Case3  6099
18263  Case3-6100       Valerie     Gombart   Commercial  Case3  6100
18264  Case3-6101      Frederic     Le Brun   Commercial  Case3  6101
18265  Case3-6102        Didier     Piccino   Commercial  Case3  6102
18266  Case3-6103         Bruno       Rivet   Commercial  Case3  6103
18267  Case3-6104  Michel Alain     Mollard   Commercial  Case3  6104
18268  Case3-6105        Sylvie    Padrazzi   Commercial  Case3  6105
18269  Case3-6106        Jerome      Samson   Commercial  Case3  6106
18270  Case3-6107           Jon     Bayless   Commercial  Case3  6107
18271  Case3-6108          John     Jaggers   Commercial  Case3  6108
18272  Case3-6109        Jackie      Kimzey   Commercial  Case3  6109
18273  Case3-6110          Dave      McLean   Commercial  Case3  6110
18274  Case3-6111           Dan       Meyer   Commercial  Case3  6111
18275  Case3-6112       Charles      Phipps   Commercial  Case3  6112
18276  Case3-6113           Ram      Velidi   Commercial  Case3  6113
18277  Case3-6114          Rose      Parker   Commercial  Case3  6114
18278  Case3-6115         Brian    Berliner   Commercial  Case3  6115
18279  Case3-6116            Al     Schuele   Commercial  Case3  6116
18280  Case3-6117         Janet      Foster   Commercial  Case3  6117
18281  Case3-6118       Stephen     Domenik   Commercial  Case3  6118
18282  Case3-6119       Stephen         Dow   Commercial  Case3  6119
18283  Case3-6120          John       Oxaal   Commercial  Case3  6120
18284  Case3-6121          Nick    Sturiale   Commercial  Case3  6121
18285  Case3-6122        George     Schneer   Commercial  Case3  6122
18286  Case3-6123         Roger     Freeman   Commercial  Case3  6123
18287  Case3-6124        Thomas      Salice   Commercial  Case3  6124
18288  Case3-6125         Terry       Smith   Commercial  Case3  6125
18289  Case3-6126         David        Webb   Commercial  Case3  6126
18290       Case8          Uday           T   Individual  Case8   NaN

[18240 rows x 6 columns]

In [72]:
for row in df2.index.tolist():
    if df2.loc[row,"Account Type"] == "Federal" and df2.loc[row,"Case"] == "Case1":
        continue
    elif df2.loc[row,"Account Type"] == "State" and df2.loc[row,"Case"] == "Case2":
        continue
    elif df2.loc[row,"Account Type"] == "Commercial" and df2.loc[row,"Case"] == "Case3":
        continue
    else:
        #print (df2.loc[row])
        df3 = df2.drop(df.index[row])
        print (df3)
        continue

          Case ID    First Name   Last Name Account Type   Case    Id
0         Case1-1          Jack      Dorsey      Federal  Case1     1
1         Case2-1          Dave      Cooper        State  Case2     1
2         Case3-1         Mudit     AGRAWAL   Commercial  Case3     1
3         Case1-2         Larry      Begley      Federal  Case1     2
4         Case2-2           Jim    Schraith        State  Case2     2
5         Case3-2           Tig      Krekel   Commercial  Case3     2
6         Case1-3         Maria      Cirino      Federal  Case1     3
7         Case2-3         Blair      Garrou        State  Case2     3
8         Case3-3       Stephen      Brooks   Commercial  Case3     3
9         Case1-4          Liam     Donohue      Federal  Case1     4
10        Case2-4           Ned        Hill        State  Case2     4
11        Case3-4        Victor      Caruso   Commercial  Case3     4
12        Case1-5          Greg      Dracon      Federal  Case1     5
13        Case2-5           Dan     Watkins        State  Case2     5
14        Case3-5  C. Alexander      Harman   Commercial  Case3     5
15        Case1-6          Kara     Sweeney      Federal  Case1     6
16        Case2-6       Winston      Gilpin        State  Case2     6
17        Case3-6         Louis       Mintz   Commercial  Case3     6
18        Case1-7        Robert     Collins      Federal  Case1     7
19        Case2-7          Paul    Campbell        State  Case2     7
20        Case3-7          Lisa    Steffens   Commercial  Case3     7
21        Case1-8    Alessandro    Benetton      Federal  Case1     8
22        Case2-8         Chris      McCord        State  Case2     8
23        Case3-8     Stephanie          Ng   Commercial  Case3     8
24        Case1-9          Dino      Furlan      Federal  Case1     9
25        Case2-9       Jessica     Wienort        State  Case2     9
26        Case3-9        H. Lee      French   Commercial  Case3     9
27       Case1-10         Marco       Monis      Federal  Case1    10
28       Case2-10        Sidney      Chameh        State  Case2    10
29       Case3-10       Michael    Friedman   Commercial  Case3    10
...           ...           ...         ...          ...    ...   ...
18260  Case3-6097      Isabelle  de Cremoux   Commercial  Case3  6097
18261  Case3-6098      Emmanuel  Fiessinger   Commercial  Case3  6098
18262  Case3-6099        Arnaud      Filhol   Commercial  Case3  6099
18263  Case3-6100       Valerie     Gombart   Commercial  Case3  6100
18264  Case3-6101      Frederic     Le Brun   Commercial  Case3  6101
18265  Case3-6102        Didier     Piccino   Commercial  Case3  6102
18266  Case3-6103         Bruno       Rivet   Commercial  Case3  6103
18267  Case3-6104  Michel Alain     Mollard   Commercial  Case3  6104
18268  Case3-6105        Sylvie    Padrazzi   Commercial  Case3  6105
18269  Case3-6106        Jerome      Samson   Commercial  Case3  6106
18270  Case3-6107           Jon     Bayless   Commercial  Case3  6107
18271  Case3-6108          John     Jaggers   Commercial  Case3  6108
18272  Case3-6109        Jackie      Kimzey   Commercial  Case3  6109
18273  Case3-6110          Dave      McLean   Commercial  Case3  6110
18274  Case3-6111           Dan       Meyer   Commercial  Case3  6111
18275  Case3-6112       Charles      Phipps   Commercial  Case3  6112
18276  Case3-6113           Ram      Velidi   Commercial  Case3  6113
18277  Case3-6114          Rose      Parker   Commercial  Case3  6114
18278  Case3-6115         Brian    Berliner   Commercial  Case3  6115
18279  Case3-6116            Al     Schuele   Commercial  Case3  6116
18280  Case3-6117         Janet      Foster   Commercial  Case3  6117
18281  Case3-6118       Stephen     Domenik   Commercial  Case3  6118
18282  Case3-6119       Stephen         Dow   Commercial  Case3  6119
18283  Case3-6120          John       Oxaal   Commercial  Case3  6120
18284  Case3-6121          Nick    Sturiale   Commercial  Case3  6121
18285  Case3-6122        George     Schneer   Commercial  Case3  6122
18286  Case3-6123         Roger     Freeman   Commercial  Case3  6123
18287  Case3-6124        Thomas      Salice   Commercial  Case3  6124
18288  Case3-6125         Terry       Smith   Commercial  Case3  6125
18289  Case3-6126         David        Webb   Commercial  Case3  6126

[18239 rows x 6 columns]

           Case ID First Name Last Name Account Type   Case     Id
count        18239      18239     18239        18239  18239  18239
unique       18239       4016     11953            3      3   6126
top     Case2-2954       John     Smith   Commercial  Case3   2721
freq             1        522        84         6110   6110      3

In [80]:
df3["First Name"].value_counts(normalize=True)

John            0.028620
David           0.028456
Michael         0.024563
Robert          0.020286
James           0.016284
Mark            0.015023
Thomas          0.012775
Richard         0.012775
Peter           0.012501
William         0.012007
Paul            0.011020
Andrew          0.010088
Daniel          0.008060
Scott           0.007895
Stephen         0.007840
Brian           0.007292
Charles         0.007018
Christopher     0.007018
Kevin           0.007018
Chris           0.006799
Steven          0.006579
Jeffrey         0.006360
Eric            0.005867
Jonathan        0.005647
Joseph          0.005373
Steve           0.004934
Tom             0.004770
George          0.004551
Patrick         0.004551
Frank           0.004331
                  ...
Tsong-Jen       0.000055
Noemi           0.000055
Hilde           0.000055
Hrach           0.000055
G?z             0.000055
Aleksander      0.000055
F. Michael      0.000055
Bruns           0.000055
Erling          0.000055
Kester          0.000055
Strone          0.000055
Hoang           0.000055
Julius          0.000055
M. Eduardo      0.000055
Ayaz            0.000055
Kirby           0.000055
Zaigham         0.000055
Jarmo           0.000055
Khaled Wasfi    0.000055
Falk            0.000055
Esther          0.000055
W. Lambert      0.000055
Yasmina         0.000055
Triet           0.000055
Chung-Ming      0.000055
Harlan          0.000055
J. Frank        0.000055
H. Ross         0.000055
Anne Potts      0.000055
Hazel           0.000055
Name: First Name, Length: 4016, dtype: float64