In [2]:
import pandas as pd
import numpy as np

In [8]:
df= pd.read_csv("F:/ML/Zenrays/AI_ML_Feb25_Kormangla/hands on/exercise_cleanData/logic_1.csv")
df2 = df.loc[:10, ("Case ID", "First Name", "Last Name", "Account Type")]
df2

    Case ID First Name Last Name Account Type
0   Case1-1       Jack    Dorsey      Federal
1   Case2-1       Dave    Cooper        State
2   Case3-1      Mudit   AGRAWAL   Commercial
3   Case1-2      Larry    Begley      Federal
4   Case2-2        Jim  Schraith        State
5   Case3-2        Tig    Krekel   Commercial
6   Case1-3      Maria    Cirino      Federal
7   Case2-3      Blair    Garrou        State
8   Case3-3    Stephen    Brooks   Commercial
9   Case1-4       Liam   Donohue      Federal
10  Case2-4        Ned      Hill        State